
  <div class="main_slider" style="background-image:url(assets/images/slider_1.jfif)">
    <div class="container fill_height">
      <div class="row align-items-center fill_height">
        <div class="col">
          <div class="main_slider_content">
           
            <h1>Obtenez jusqu'à 30% de réduction sur les nouveautés</h1>
            <div class="red_button shop_now_button"><a [routerLink]="['/register']">Connecter</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner -->
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="banner_item align-items-center" style="background-image:url(assets/images/banner_1.jfif)">
            <div class="banner_category">
              <a href="#">Vétements</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="banner_item align-items-center" style="background-image:url(assets/images/banner_2.jfif)">
            <div class="banner_category">
              <a href="#">Informatique</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="banner_item align-items-center" style="background-image:url(assets/images/banner_3.jpeg)">
            <div class="banner_category">
              <a href="#">électromenager</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-sections></app-sections>

