<footer class="footer">
  <div class="container">
    <div class="row">
          <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto">
            <div class="footer-widget">
                <h4 class="mb-4">Logo</h4>
               
                
                <div class="">
                  <p class="mb-0"><strong>Location : </strong>El Ghazala ,Ariana</p>
                  <p><strong>Support Email : </strong> support@email.com</p>
                </div>
                <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <!--
                <div class="col-lg-6 text-lg-center btn-wrapper">
                  <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-neutral btn-icon-only btn-dribbble btn-lg btn-round" ngbTooltip="Follow us">
                    <i class="fa fa-dribbble"></i>
                  </a>
                  <a target="_blank" href="https://github.com/creativetimofficial" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              -->
            </div>
            
          </div>
          <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
            <div class="footer-widget">
              <h4 class="mb-4">Catégorie</h4>
              <ul class="pl-0 list-unstyled mb-0">
                <li><a href="#">Vêtements</a></li>
                <li><a href="#">Informatique</a></li>
                <li><a href="#">Véhicules</a></li>
                <li><a href="#">électromenager</a></li>
               
              </ul>
          </div>
          </div>
          <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
             <div class="footer-widget">
              <h4 class="mb-4">Lien utile</h4>
              <ul class="pl-0 list-unstyled mb-0">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Produits</a></li>
                <li><a href="#">blogs</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
              </div>
          </div>
         
       </div>
  </div>
</footer>
<div class="footer-btm py-4 ">
  <div class="container">
    <div class="row ">
         <div class="col-lg-6">
           <p class="copyright mb-0 ">@ Copyright Reserved to therichpost &amp; made by <a href="https://therichpost.com/">therichpost</a></p>
         </div>
       
       </div>
  </div>
</div>
